@import url("https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap");

/* Example CSS for responsive layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "PT Sans", sans-serif;
  /* margin: 0;
  padding: 0; */
  background-color: #f9f9f9;
}
hr {
  color: gainsboro;
}
.profile-container {
  margin-left: 100px;
}
.img {
  border-radius: 50%;
  margin-top: 20px;
}
.image {
  border-radius: 50%;
}
.name {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.names {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.col {
  color: grey;
}

.row {
  display: flex;
  align-items: center;
}
.value {
  margin-left: 10px;
  font-weight: bold;
}
.content {
  /* margin-left: 50px; */
  max-width: 370px;
}
.vl {
  border-left: 1px solid rgb(175, 173, 173);

  height: 600px;
  position: absolute;
  /* left: 55%; */
  left: 60%;
  margin-left: -3px;
  margin-top: 150px;
  top: 0;
}

.vl-content {
  margin-left: 150px;
}

#map {
  margin-top: 20px;
  margin-left: 40px;
  height: 350px;
  width: 150%;
  border-radius: 30px;
}

/* body,
html {
  height: 100%;
  margin: 0;
} */

.container {
  height: 100%;
  display: flex;
}

.menu {
  background-color: #583ac3;
  padding: 20px;
  color: rgba(207, 203, 203, 0.69);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  height: 650px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.menu li {
  margin-bottom: 10px;
  cursor: pointer;
}
.top {
  width: 60em;
}
li.active {
  color: white;
}
#list li.active {
  /* // background-color: #007bff; */
  color: #fff;
}
#list li.active {
  color: white;
}

#list a {
  text-decoration: none;
  color: inherit;
}

#list a:visited {
  color: inherit;
}
.active a {
  color: white;
}

.coming-soon {
  /* background-color: white; */
  text-align: center;
  padding: 20px;
}

.coming-soon h1 {
  margin-top: 200px;
  font-size: 100px;
  color: #dedddd;
}
.txt-col {
  color: rgb(78, 76, 76);
}
.hidden {
  display: none;
}
.login {
  margin-left: 800px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal.active {
  display: block;
}
.move {
  margin-left: 800px;
}
.move2 {
  margin-left: 600px;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile-cont {
  display: flex;
  align-items: center;
}

.profile-heading {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.txt-col {
  color: rgb(78, 76, 76);
}

.profile-header {
  margin-left: 10px;
}

/* Style for the profile picture */
.imgs {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
}
.namess {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
